.navbar-tiffany,
.banner{
    background: -webkit-linear-gradient(45deg, rgba(0 , 0, 0, 0) 48%, rgba(0 , 0, 0, 0.1) 50%, rgba(0 , 0, 0, 0) 52%),
    -webkit-linear-gradient(135deg, rgba(0 , 0, 0, 0) 48%, rgba(0 , 0, 0, 0.1) 50%, rgba(0 , 0, 0, 0) 52%);
    background: linear-gradient(45deg, rgba(0 , 0, 0, 0) 48%, rgba(0 , 0, 0, 0.1) 50%, rgba(0 , 0, 0, 0) 52%),
    linear-gradient(-45deg, rgba(0 , 0, 0, 0) 48%, rgba(0 , 0, 0, 0.1) 50%, rgba(0 , 0, 0, 0) 52%);
    -webkit-background-size: 1em 1em;
    background-size: 1em 1em;
}

.navbar-tiffany{
    background-color: #2ca6cb;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
}

.footnote-tiffany{
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.03) 50%, rgba(255, 255, 255, 0) 52%),
    -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.03) 50%, rgba(255, 255, 255, 0) 52%);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.03) 50%, rgba(255, 255, 255, 0) 52%),
    linear-gradient(-45deg, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.03) 50%, rgba(255, 255, 255, 0) 52%);
    -webkit-background-size: 1em 1em;
    background-size: 1em 1em;
}
.footnote-tiffany{
    background-color: #333333;
    border-color: #2ca6cb;
    box-shadow: 2px -4px 5px rgba(3,-3,3,0.2);
}


.navbar-tiffany .navbar-brand,
.navbar-tiffany .navbar-text,
.navbar-tiffany .nav>li>a{
    color: #fff;
}


.navbar-tiffany .nav>li>a:hover,
.navbar-tiffany .nav>li>a:focus,
.navbar-tiffany .nav>li.active>a {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}
.navbar-tiffany .navbar-toggle{
    border-color: #fff;
}

.navbar-tiffany .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-nav>li>a{
    line-height: 1.42857143;
}

.footnote-tiffany a,
.footnote-tiffany span{
    color:#fff;

}
.footnote .foot-item{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    background: rgba(255,255,255,0.1);
    border-radius: 3px 3px;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

.footnote .foot-item:hover{
    background-color: #2ca6cb;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

/* footer */
.footnote{
    min-height: 50px;
    line-height: 50px;
    margin-top: -50px;
    text-align: center;
}

html{
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
body {
    background-image: url(http://blog.rainyalley.com/static/bg.jpg);
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

body,code,pre{
    font-family:  "Menlo", "Monaco", "Consolas", "Courier New", "monospace", "Helvetica", "Tahoma", "Arial",
    "WenQuanYi Micro Hei", "文泉驿微米黑", "STXihei", "华文细黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "Heiti", "黑体", sans-serif;
}

body,.sheet,pre,code{
    font-size: 17px;
}


a:link {text-decoration: none}		/* 未访问的链接 */
a:visited {text-decoration: none}	/* 已访问的链接 */
a:hover {text-decoration: none}	/* 鼠标移动到链接上 */
a:active {text-decoration: none}	/* 选定的链接 */

.main{
    min-height: 100%;
    padding-bottom: 130px;
}

.content{
    padding-right: 0px;
    padding-left: 0px;
}

.sheet{
    word-break: break-all;
	background-color:#f8f8fd;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
}

.sheet{
    padding:10px 30px;
}

@media screen and (max-width: 767px) {
    .sheet{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/**
 * back to top
 */
.page-scrollTop {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 60px;
	height: 60px;
	background-color: #bbb;
	border-radius:7px;
	opacity: 0.7;
	display: none;
	z-index: 888;
}
.page-scrollTop .arrow{
	margin:0 auto;
	padding-top:11px;
	width:0;
	height: 0;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid #7f7f7f;

}
.page-scrollTop .stick{
	margin:0 auto;
	padding-bottom:21px;
	width: 13px;
	border-bottom: 13px solid #bbb;
	background-color: #7f7f7f;
}

.shadow-bottom-center{
	background-color:#f8f8fd;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
}

.word-keep{
    display: inline-block;
    word-break: keep-all;
}

.rectangle{
	border-radius: 0px;
}


@media (min-width: 1200px){
    .col-lg-offset-1_5 {
        margin-left: 12.5%;
    }
}

.pad-min,
.pad-mid,
.pad-lar{
    display: block;
}
.pad-min{
    height: 20px;
}
.pad-mid{
    height: 50px;
}
.pad-lar{
    height: 80px;
}
.scriptHub{
    display: none!important;
}

.st-ui-stamp{
    display: none!important;
}

/*** banner ***/
.banner {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2ca6cb;
    display: none;
}

.banner h1{
    font-size: 50px;
    font-weight: bold;
}


.banner h1,
.banner h3{
    color: #ffffff;
    text-align: center;
}
.banner h3{
    line-height: 1.5;
}

@media screen and (max-width: 767px) {
    .banner h1{
        font-size: 36px;
    }
}

article{
  padding:6px 0px 8px 0px;
  margin-top: 1em;
}
article header{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
  display: block;
}

article header a{
  color: #666;
}

article .module {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 25px;
  border-bottom: 1px solid #b1b1b1;
  background: #f8f8fd;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
}
article .title{
  font-size: 1.6em;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;

  margin-left: -25px;
  padding-left: 20px;
  border-left: 5px solid #2ca6cb;
}

article .readmore{
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #eee;
  color: #999;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
article .readmore:hover{
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #1e7293;
}

article footer{
  font-size: .85em;
  line-height: 1.6em;
  border-top: 1px solid #ddd;
  padding-top: 1.6em;
  margin: 0;
}
article footer a{
  color: #999;
  margin-right: 15px;
}

.side { box-sizing: border-box; background-color: #f8f8fd; box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset; padding-bottom: 1px; -ms-word-break: break-all; word-break: break-all; /* Non standard for webkit */ -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }
.side > div { padding: 12px 15px; border-bottom: 1px solid #c0c0c0; font-size: 16px;}
.side a { color: #4d6dad; transition: 0.5s ease; }
.side a:hover { color: #223253; }

.wrap {padding: 24px 0px 8px 0px;}
.wrap .side { margin-bottom: 20px; padding-bottom: 0; }
.wrap .side i { margin-right: 3px; }
.wrap .side .content-ul[cate] { overflow: hidden; list-style: none; margin: 0; padding: 0; }
.wrap .side .content-ul[cate] li { font-size: 16px; }
.wrap .side .content-ul[cate] li a { display: block; width: 100%; padding: 2px 0; border-bottom: 1px solid #eee; }
.wrap .side .content-ul[cate] li a:hover { background-color: #dbdfee; }
.wrap .side .content-ul[cate] li a:hover .badge { background-color: #dbdfee; transform: scale(1.2) rotate(360deg); }
.wrap .side .content-ul[cate] li a .name { padding-left: 15px; }
.wrap .side .content-ul[cate] li a .badge { display: block; float: right; text-align: center; margin-right: 15px; margin-top: 3px; padding: 0 10px; font-size: 12px; color: #fff; background-color: #bbb; border-radius: 50%; transition: 0.5s ease-in-out; }
.wrap .side .content-ul[cate] li:last-of-type a { border: none; }
.wrap .side .content-ul[recent] { padding-bottom: 16px; }
.wrap .side .content-ul[recent] li { color: #aaa; font-size: 14px; }
.wrap .side .tags-cloud { font-weight: normal; }
.wrap .side .tags-cloud a { padding: 0 3px; border-radius: 5px; }
.wrap .side .tags-cloud a:hover { background-color: #f0e7ce; }