<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Pipapa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <link rel="icon" href="/static/images/favicon.ico">
    <style>
        body > .ui.container{
            margin-top: 3em;
        }
    </style>
    <script>
        var refresh = function(url){
            window.location.href = url
        }
        var get_data = function(url,callback){
            var requese = new XMLHttpRequest()
            requese.onreadystatechange = function(){
                if(requese.readyState == XMLHttpRequest.DONE && requese.status == 200){
                    var data = JSON.parse(requese.responseText)
                    callback(data)
                }
            }
            requese.open('GET',url,true)
            requese.send()
        }
    </script>
</head>
<body>
    <div class="ui container">
        <!-- 导航栏 -->
        <div class="ui pointing menu">
            <a href="/" class="active item">Home</a>
            <a href="#" class="item">Comment</a>
            <!-- 搜索框 -->
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <div class="ui grid">
                <!-- 主体 -->
                <div class="eleven wide column" id="main">
                    <div style="margin-bottom:10px;">
                        <a href="#" class="ui red ribbon label">Home</a>

                        <div class="ui segment">
                            <div class="ui divided items" id="posts">
                                <!-- 文章列表 -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="ui divider hidden"></div>
                    <div class="ui divider hidden"></div>
                 
                    
                </div>
               
                <!-- 边栏 -->
                <div class="five wide column">
                    <a href="#" class="ui orange right ribbon label">About me</a>

                    <!-- 个人卡片 -->
                    <div class="ui card">
                        <div class="content">
                            <img class="right floated mini ui image" src="/static/images/favicon.ico">
                            <div class="header">Pipapa</div>
                            <div class="description">
                                <s>本博客由<a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a>强力驱动.(不会前端,完全瞎写)</s>
                            </div>
                        </div> 
                        <!-- 链接 -->
                        <div class="extra content">
                            <div class="mini ui circular icon button"onclick="window.open('https://github.com/Pipapa')">
                                <i class="github icon"></i>
                            </div>
                            <div class="mini ui circular icon button">
                                <i class="wechat icon"></i>
                            </div>
                            <div class="mini ui circular icon button">
                                <i class="steam icon"></i>
                            </div>
                            <div class="mini ui circular icon button">
                                <i class="telegram icon"></i>
                            </div>
                            <div class="mini ui circular icon button">
                                <i class="weibo icon"></i>
                            </div>
                            <div class="mini ui circular icon button">
                                <i class="send icon"></i>
                            </div>
                        </div>
                    </div>

                    <!-- 分类 -->
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Categories</div>
                        </div>

                        <div class="content">
                            <div class="ui selection list" id="categories">

                               
                            </div>
                        </div>

                    </div>
                    <!-- 标签 -->
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Tags</div>
                        </div>
                        <div class="content">
                            <div class="ui yellow labels" id="tags">
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="ui content center aligned"><i>由<a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a>强力驱动, <a href="/admin"><i class="settings icon"></i>管理网页</a></i></div>
        
    </div>
    
</body>
<script>
    /*获取数据*/
    class Post {
        constructor(title,updated,description,selfLink,view,categories,tags){
            this.title = title
            this.description = description
            this.updated = updated
            this.selfLink = selfLink
            this.view = view
            this.categories = categories
            this.tags = tags
        }

        create_title_node(){
            var title = document.createElement('a')
            title.setAttribute('href',this.selfLink)
            title.className = 'header'
            title.innerText = this.title
            return title
        }
        create_time_node(){
            var time = document.createElement('div')
            time.className = 'meta'
            time.innerHTML = '<span><i class="bar chart icon"></i>'+this.updated+'</span>'
            return time
        }
        create_description_node(){
            var description = document.createElement('div')
            description.className = 'description'
            description.innerHTML = '<i>'+this.description+'</i>'
            return description
        }
        create_extra_node(){
            var extra = document.createElement('div')
            extra.className = 'extra'

            var view = document.createElement('span')
            var categories = document.createElement('span')
            var tags = document.createElement('span')
            var readmore = document.createElement('div')

            categories.innerHTML = '<span><i class="folder open outline icon"></i>'
            for(var i=0;i<this.categories.length;i++){
                categories.innerHTML += '<a href="/categories/'+ this.categories[i] +'">'+ this.categories[i] +'</a>'
                if(i!=this.categories.length-1){
                    categories.innerHTML += ' , '
                }
            }
            categories.innerHTML += '</span>'
            tags.innerHTML = '<span><i class="tags icon"></i>'
            for(var i=0;i<this.tags.length;i++){
                tags.innerHTML += '<a href="/tags/'+ this.tags[i] +'">'+ this.tags[i] +'</a>'
                if(i!=this.tags.length-1){
                    tags.innerHTML += ' , '
                }
            }
            tags.innerHTML += '</span>'
            view.innerHTML = '<i class="unhide icon"></i>'+ this.view +' 人围观过'
            readmore.className = 'ui right floated'
            readmore.innerHTML = '<strong><a href="'+ this.selfLink +'">ReadMore...</a></strong>'
           
            var o = [view,categories,tags,readmore]
            for(var i=0;i<o.length;i++){
                extra.appendChild(o[i])
            }
            return extra
        }
        create_post() {
            var item = document.createElement('div')
            var content = document.createElement('div')
            item.className = 'item'
            content.className = 'content'

            content.appendChild(this.create_title_node())
            content.appendChild(this.create_time_node())
            content.appendChild(this.create_description_node())
            content.appendChild(this.create_extra_node())
            item.appendChild(content)
            return item
        }

    }
    class Category{
        constructor(name,number,selfLink){
            this.name = name
            this.number = number
            this.selfLink = selfLink
        }
        create_number(){
            var number = document.createElement('div')
            number.className = 'right floated content'
            number.innerHTML = '<div class="header">'+this.number+'</div>'
            return number
        }
        create_name(){
            var content = document.createElement('div')
            content.className = 'content'
            content.innerHTML = '<strong><a class="ui empty circular label"></a> <i class="folder icon"></i>'+this.name+'</strong>'
            return content
        }
        create_category(){
            var item = document.createElement('div')
            item.className = 'item'
            item.setAttribute('onclick','window.open(\''+ this.selfLink +'\')')
            item.appendChild(this.create_number())
            item.appendChild(this.create_name())
            return item
        }
    }
    class Tag{
        constructor(name,number,selfLink){
            this.name = name
            this.number = number
            this.selfLink = selfLink
        }
        create_tag_node(){
            var tag = document.createElement('a')
            tag.setAttribute('href',this.selfLink)
            tag.className = 'ui label'
            tag.innerHTML = this.name+'<div class="detail">'+this.number+'</div>'
            return tag
        }
        create_tag(){
            return this.create_tag_node()
        }
    }
    var load_home = {
    }
    load_home.load_posts = function(parameter){
        var posts = parameter['items']
        for(var i=0;i<posts.length;i++){
            var data = posts[i]
            var p = new Post(data.title,data.updated,data.summary,data.selfLink,data.view,data.categories,data.tags)
            document.getElementById('posts').appendChild(p.create_post())
        }
    }
    load_home.load_categories = function(parameter){
        var categories = parameter['items']
        for(var i=0;i<categories.length;i++){
            var data = categories[i]
            var p = new Category(data.name,data.totalPosts,data.selfLink)
            document.getElementById('categories').appendChild(p.create_category())
        }
    }
    load_home.load_tags = function(parameter){
        var tags = parameter['items']
        for(var i=0;i<tags.length;i++){
            var data = tags[i]
            var t = new Tag(data.name,data.totalPosts,data.selfLink)
            document.getElementById('tags').appendChild(t.create_tag())
        }
    }
    window.onload = function(){
        var url = encodeURI(location.href)
        var category = url.substr(url.lastIndexOf('/')+1)
        get_data(decodeURI('/api/categories?key='+category),load_home.load_posts)
        get_data('/api/categories',load_home.load_categories)
        get_data('/api/tags',load_home.load_tags)
    }
</script>
</html>