<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pipapa`s Blog</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.9.0/github-markdown.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/solarized-light.min.css" />
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
</body>   
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script> 

    hljs.initHighlightingOnLoad();

    marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false,
        highlight: function (code) {
            return hljs.highlightAuto(code).value;
        }
    });

    Vue.component('headbar',{
        props: ['title','description'],
        template: '<div><h1 class="headbar">{{ title }}</h1>'+
                  '<h4 class="headbar_description">{{ description }}</h4></div>',
    })

    Vue.component('posts',{
        template: '<div><el-table style="width: 100%;text-align: center;color:#678F8D;" :data="posts" @row-click="handleClick">'+
                    '<el-table-column prop="title"></el-table-column></el-table></div>',
        data:function(){
            return {
                posts:[],
            }
        },
        created:function(){
            axios.get('http://127.0.0.1:5000/api/posts').then(response =>  {
                this.posts = response.data['items']
            })
            .catch(e => {
                this.error.push(e)
            })

        },
        methods:{
            handleClick(row,event,column){
                window.location.href = row.selfLink
            },
        },
    })

    Vue.component('post',{
        template:'<div><headbar :title="title"></headbar><div v-html="compliedMarkdown" class="markdown-body"></div></div>',
        data:function(){
            return{
                article:'',
                title:''
            }
        },
        created:function(){
            axios.get('http://127.0.0.1:5000/api/posts/'+ this.$route.params.id ).then(response => {
                this.article = response['data']['items']['content']
                this.title   = response['data']['items']['title']
            })
            .catch(e => {
                this.error.push(e)
            })
        },
        computed:{
            compliedMarkdown: function(){
                return marked(this.article,{sanitize:true})
            }
        }
        ,
        methods:{

        }
    })

    Vue.component('editor',{
        template:'<div style="margin-top:20px;"><el-row><el-col :span="12"><div class="grid-content bg-purple"><el-input style="margin-bottom:10px;" v-model="input_title" placeholder="请输入标题"></el-input>'+
                 '<el-input @change="changeEdit" v-model="input_article" type="textarea" :autosize="{minRows:30}" style="margin-bottom:10px;"></el-input>'+
                 '<el-row :gutter="5"><el-col :span="10"><div class="grid-content bg-purple"><el-input style="margin-bottom:10px;" v-model="input_categories" placeholder="请输入分类" ></el-input></div></el-col>'+
                 '<el-col :span="11"><div class="grid-content bg-purple-light"><el-input style="margin-bottom:10px;" v-model="input_tags" placeholder="请输入标签"></el-input></div></el-col>'+
                 '<el-col :span="2"><div class="grid-content bg-purple-light"><el-button @click="post_info">上传</el-button></div></el-col>'+
                 '</el-row></div></el-col>'+
                 '<el-col :span="12"><div class="grid-content bg-purple-light"><div class="markdown-body" v-html="compiledMarkdown" style="margin-left:10px;"></div></div></el-col>'+
                 '</el-row></div>',
        data:function(){
            return{
                input_title : '',
                input_article : '',
                input_categories : '',
                input_tags : '',
            }
        },
        created:function(){
            if(this.$route.params.id){
                axios.get('http://127.0.0.1:5000/api/posts/' + this.$route.params.id).then(response =>{
                    let info = response['data']['items']
                    this.input_title = info.title
                    this.input_article = info.content
                    this.input_categories = info.categories.join(',')
                    this.input_tags = info.tags.join(',')
                }) 
                .catch(e => {
                this.error.push(e)
                })
            }else{
            }
        },
        computed:{
            compiledMarkdown:function(){
                return marked(this.input_article,{sanitize:true})
            },
        
        },
        methods:{
            changeEdit:function(str){
                this.input_article = str
            },
            post_info:function(){
                if(this.$route.params.id){

                }else{
                    let info = {}
                    let post = info['items'] = {}
                    post['title'] = this.input_title
                    post['content'] = this.input_article
                    post['summary'] = null
                    post['categories'] = this.input_categories.split(',')
                    post['tags'] = this.input_tags.split(',')
                    console.log(info)
                }
            }
        }
    })

    const Index = {
        template: '<el-row :gutter="20"><el-col :span="12" :offset="6"><div class="grid-content bg-purple"><headbar title="Pipapa`s Blog" '+
                  'description="他强任他强，清风拂山岗；他横任他横，明月照大江"></headbar>'+
                  '<posts><</posts></div></el-col></el-row>'
    }
    const Post = {
        template: '<el-row :gutter="20"><el-col :span="12" :offset="6"><div class="grid-content bg-purple">'+
                  '<post></post></div></el-col></el-row>'
    }

    const Edit = {
        template: '<editor></editor>'
    }

    const router = new VueRouter({
        mode: 'history',
        routes:[
            {path:'/',component:Index},
            {path:'/posts/:id',component:Post},
            {path:'/editor/:id',component:Edit},
            {path:'/editor',component:Edit},
        ]
    })

    const app = new Vue({
        router
    }).$mount('#app')
   

</script>
<style>
    .headbar{
        text-align: center;
        color: #598987;
    }
    .headbar_description{
        text-align: center;
        color: #77A88D;
    }
</style>
</html>