<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pipapa`s Blog</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
</body>   
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script> 

    Vue.component('headbar',{
        props: ['title','description'],
        template: '<div><h1 class="headbar">{{ title }}</h1>'+
                  '<h4 class="headbar_description">{{ description }}</h4></div>',
    })

    Vue.component('posts',{
        template: '<div><el-table style="width: 100%;text-align: center;color:#678F8D;" :data="posts" @row-click="handleClick">'+
                    '<el-table-column prop="title"></el-table-column></el-table></div>',
        data:function(){
            return {
                posts:[],
            }
        },
        created:function(){
            axios.get('http://127.0.0.1:5000/api/posts').then(response =>  {
                this.posts = response.data['items']
            })
            .catch(e => {
                this.error.push(e)
            })

        },
        methods:{
            handleClick(row,event,column){
                window.location.href = row.selfLink
            },
        },
    })

    Vue.component('post',{
        template:'<div><headbar :title="title"></headbar><div v-html="compliedMarkdown"></div></div>',
        data:function(){
            return{
                article:'',
                title:''
            }
        },
        created:function(){
            axios.get('http://127.0.0.1:5000/api/posts/'+ '1' ).then(response => {
                this.article = response['data']['items']['content']
                this.title   = response['data']['items']['title']
            })
            .catch(e => {
                this.error.push(e)
            })
        },
        computed:{
            compliedMarkdown: function(){
                return marked(this.article,{sanitize:true})
            }
        }
        ,
        methods:{

        }
    })

    const Index = {
        template: '<el-row :gutter="20"><el-col :span="12" :offset="6"><div class="grid-content bg-purple"><headbar title="Pipapa`s Blog" '+
                  'description="他强任他强，清风拂山岗；他横任他横，明月照大江"></headbar>'+
                  '<posts><</posts></div></el-col></el-row>'
    }
    const Post = {
        template: '<el-row :gutter="20"><el-col :span="12" :offset="6"><div class="grid-content bg-purple">'+
                  '<post></post></div></el-col></el-row>'
    }

    const Edit = {
        template: ''
    }

    const router = new VueRouter({
        mode: 'history',
        routes:[
            {path:'/',component:Index},
            {path:'/posts/:id',component:Post},
            {path:'/editor/:id',component:Edit}
        ]
    })

    const app = new Vue({
        router
    }).$mount('#app')
   

</script>
<style>
    .headbar{
        text-align: center;
        color: #598987;
    }
    .headbar_description{
        text-align: center;
        color: #77A88D;
    }
</style>
</html>