<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin - Pipapa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <link rel="icon" href="/static/images/favicon.ico">
    <style>
        body > .ui.container{
            margin-top: 3em;
        }
    </style>
    <script>
        var get_data = function(url,callback){
            var requese = new XMLHttpRequest()
            requese.onreadystatechange = function(){
                if(requese.readyState == XMLHttpRequest.DONE && requese.status == 200){
                    var data = JSON.parse(requese.responseText)
                    callback(data)
                }
            }
            requese.open('GET',url,true)
            requese.send()
        }

        var select_all = function(){
            var status = document.getElementById('select').checked
            var checkboxs = document.getElementsByTagName('input')
            for(var i=0;i<checkboxs.length;i++){
                if(checkboxs[i].type == 'checkbox'){
                    checkboxs[i].checked = status;
                }
            }
        }
    </script>
</head>
<body>
    <div class="ui container">
        <!-- 导航栏 -->
        <div class="ui pointing menu">
            <a href="/" class="item">Home</a>
            <a href="/comments" class="item">Comment</a>
            <a href="/admin" class="active item">Admin</a>
        </div>

        <div class="ui segment">
            <div class="ui grid">
                <div class="ui five wide column"> 
                    <!-- Menu -->
                    <div class="ui vertical menu">
                        <a href="/admin" class="item">文章管理</a>
                        <a href="/admin/writer" class="item">文章编辑</a>
                        <a href="/admin/comment" class="item">评论管理</a>
                    </div>
                </div>
                <!-- Table -->
                <div class="ui eleven wide column">
                    <table class="ui compact celled definition table">
                        <thead class="full-width">
                            <tr>
                                <th>
                                </th>
                                <th class="one wide">ID</th>
                                <th class="twelve wide">标题</th>
                                <th class="two wide">操作</th>
                            </tr>
                        </thead>
                        <tbody id="posts">
                            <!-- 文章列表 -->
                           
                        </tbody>

                        <tfoot class="full-width">
                            <tr>
                                <th class="one wide">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="select" onclick="select_all()"> <label></label>
                                    </div>
                                </th>

                                <th colspan="3"> 
                                    <button class="ui mini button" onclick="delete_posts()">
                                        删除选中
                                    </button>
                                    <button class="mini ui right floated circular olive icon button disabled" id="next" onclick="next_page()">
                                        <i class="arrow right icon"></i>
                                    </button>
                                    <button class="mini ui right floated circular olive icon button disabled" id="prev" onclick="prev_page()">
                                        <i class="arrow left icon"></i>
                                    </button>
                                </th>
                            </tr>
                            
                        </tfoot>

                    </table>
                </div>
                
               
            </div> 
        </div>
        <div class="ui content center aligned"><i>由<a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a>强力驱动, <a href="/admin"><i class="settings icon"></i>管理网页</a></i></div>
        
    </div>
    
</body>
<script>
    /*获取数据*/
    class Post {
        constructor(id,title,selfLink){
            this.id = id
            this.title = title
            this.selfLink = selfLink
        }

        create_post() {
            var item = document.createElement('tr')
            item.innerHTML = '<td class="collapsing"><div class="ui checkbox"><input type="checkbox" value="'+ this.id +'">'+ 
                '<label></label></td><td>'+this.id+'</td><td>' + this.title + '</td><td>' + 
                '<div class="mini ui buttons"><button class="ui green button" onclick="window.open(\'/admin/writer/'+ this.id +'\')">Edit</button><div class="or"></div>'+
                '<button class="ui orange button" onclick="delete_post('+ this.id +')">Delete</button></div></td>'
            return item
        }
    }
    class PostList{
        constructor(){
            this.page = 1
        }
        next_page(){
            this.page+=1
        }
        prev_page(){
            this.page-=1
        }
        create_list(data){
            var table = document.getElementById('posts')
            var posts = data['items']
            for(var i=0;i<posts.length;i++){
                var post = new Post(posts[i].id,posts[i].title,posts[i].selfLink)
                table.appendChild(post.create_post())
            }
            if(data['nextPage']){
                document.getElementById('next').classList.remove('disabled')
            }else{document.getElementById('next').classList.add('disabled')}
            if(data['prevPage']){
                document.getElementById('prev').classList.remove('disabled')
            }else{document.getElementById('prev').classList.add('disabled')}
        }
    }
    var refresh = function(){
        document.getElementById('posts').innerHTML = ''
        get_data('/api/posts?pre_page=10&page='+postlist.page,postlist.create_list)
    }
    var next_page = function(){
        window.postlist.next_page()
        refresh()
    }
    var prev_page = function(){
        window.postlist.prev_page()
        refresh()
    }
    var delete_post = function(id){
        var url = '/api/posts/' + id
        var requese = new XMLHttpRequest()
        requese.onreadystatechange = function(){
            if(requese.readyState == XMLHttpRequest.DONE && requese.status == 200){
                if(JSON.parse(requese.responseText)['status'] == 'success'){
                    window.length --
                    if(window.length <= 0){refresh()}
                }
            }
        }
        requese.open('DELETE',url,true)
        requese.send()
    }
    var delete_posts = function(){
        var delete_list = []
        var checkboxs = document.getElementsByTagName('input')
        for(var i=0;i<checkboxs.length;i++){
            if(checkboxs[i].type == 'checkbox' && checkboxs[i].checked && checkboxs[i].id != 'select'){
                delete_list.push(checkboxs[i].value)
            }
        }
        window.length = delete_list.length
        for(var i=0;i<delete_list.length;i++){
            delete_post(delete_list[i])
        }
    }
    window.onload = function(){
        window.length = 0
        window.postlist = new PostList()
        refresh()
    }
</script>
</html>