<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin - Pipapa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <link rel="icon" href="/static/images/favicon.ico">
    <style>
        body > .ui.container{
            margin-top: 3em;
        }
    </style>
    <script>

    </script>
</head>
<body>
    <div class="ui container">
        <!-- 导航栏 -->
        <div class="ui pointing menu">
            <a href="/" class="item">Home</a>
            <a href="/comments" class="item">Comment</a>
            <a href="/admin" class="active item">Admin</a>
        </div>

        <div class="ui segment">
            <div class="ui grid">
                <div class="ui five wide column">
                    <div class="ui vertical menu">
                        <a href="" class="item">文章管理</a>
                        <a href="" class="item">发布文章</a>
                        <a href="" class="item">评论管理</a>
                    </div>
                </div>

                <div class="ui eleven wide column">
                    
                </div>
                
               
            </div> 
        </div>
        <div class="ui content center aligned"><i>由<a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a>强力驱动, <a href="/admin"><i class="settings icon"></i>管理网页</a></i></div>
        
    </div>
    
</body>
<script>
    /*获取数据*/
    class Post {
        constructor(title,updated,description,selfLink,view,categories,tags){
            this.title = title
            this.description = description
            this.updated = updated
            this.selfLink = selfLink
            this.view = view
            this.categories = categories
            this.tags = tags
        }

        create_title_node(){
            var title = document.createElement('a')
            title.setAttribute('href',this.selfLink)
            title.className = 'header'
            title.innerText = this.title
            return title
        }
        create_time_node(){
            var time = document.createElement('div')
            time.className = 'meta'
            time.innerHTML = '<span><i class="bar chart icon"></i>'+this.updated+'</span>'
            return time
        }
        create_description_node(){
            var description = document.createElement('div')
            description.className = 'description'
            description.innerHTML = '<i>'+this.description+'</i>'
            return description
        }
        create_extra_node(){
            var extra = document.createElement('div')
            extra.className = 'extra'

            var view = document.createElement('span')
            var categories = document.createElement('span')
            var tags = document.createElement('span')
            var readmore = document.createElement('div')

            categories.innerHTML = '<span><i class="folder open outline icon"></i>'
            for(var i=0;i<this.categories.length;i++){
                categories.innerHTML += '<a href="/categories/'+ this.categories[i] +'">'+ this.categories[i] +'</a>'
                if(i!=this.categories.length-1){
                    categories.innerHTML += ' , '
                }
            }
            categories.innerHTML += '</span>'
            tags.innerHTML = '<span><i class="tags icon"></i>'
            for(var i=0;i<this.tags.length;i++){
                tags.innerHTML += '<a href="/tags/'+ this.tags[i] +'">'+ this.tags[i] +'</a>'
                if(i!=this.tags.length-1){
                    tags.innerHTML += ' , '
                }
            }
            tags.innerHTML += '</span>'
            view.innerHTML = '<i class="unhide icon"></i>'+ this.view +' 人围观过'
            readmore.className = 'ui right floated'
            readmore.innerHTML = '<strong><a href="'+ this.selfLink +'">ReadMore...</a></strong>'
           
            var o = [view,categories,tags,readmore]
            for(var i=0;i<o.length;i++){
                extra.appendChild(o[i])
            }
            return extra
        }
        create_post() {
            var item = document.createElement('div')
            var content = document.createElement('div')
            item.className = 'item'
            content.className = 'content'

            content.appendChild(this.create_title_node())
            content.appendChild(this.create_time_node())
            content.appendChild(this.create_description_node())
            content.appendChild(this.create_extra_node())
            item.appendChild(content)
            return item
        }
    }
</script>
</html>