<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pipapa</title>
    <link rel="stylesheet" href="/static/css/frog.css">
    <script src="/static/js/frog.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.8.0/github-markdown.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/solarized-dark.min.css" />
</head>
<body>
   <!-- 导航栏 -->
   <nav>    
        <ul>
            <li><a href="/" class="post-title">Home/</a></li>
            <li><a href="/tag" class="post-title">Tag/</a></li>
            <li><a href="/category" class="post-title">Category/</a></li>
            <li><a href="/about" class="post-title">About/</a></li>
        </ul>
    </nav>
    <!-- 内容 -->
    <div class="article-info" id="article-info">
       
    </div>
   
    <div class="markdown-body" id="article">
        
    </div> 
    <!-- 底部 -->
    <footer>
        Powered by <a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a> &copy; 2017 Pipapa
    </footer> 
</body>
    <script>
        var whenReady = (function() {               //这个函数返回whenReady()函数
    var funcs = [];             //当获得事件时，要运行的函数
    var ready = false;          //当触发事件处理程序时,切换为true
    
    //当文档就绪时,调用事件处理程序
    function handler(e) {
        if(ready) return;       //确保事件处理程序只完整运行一次
        
        //如果发生onreadystatechange事件，但其状态不是complete的话,那么文档尚未准备好
        if(e.type === 'onreadystatechange' && document.readyState !== 'complete') {
            return;
        }
        
        //运行所有注册函数
        //注意每次都要计算funcs.length
        //以防这些函数的调用可能会导致注册更多的函数
        for(var i=0; i<funcs.length; i++) {
            funcs[i].call(document);
        }
        //事件处理函数完整执行,切换ready状态, 并移除所有函数
        ready = true;
        funcs = null;
    }
    //为接收到的任何事件注册处理程序
    if(document.addEventListener) {
        document.addEventListener('DOMContentLoaded', handler, false);
        document.addEventListener('readystatechange', handler, false);            //IE9+
        window.addEventListener('load', handler, false);
    }else if(document.attachEvent) {
        document.attachEvent('onreadystatechange', handler);
        window.attachEvent('onload', handler);
    }
    //返回whenReady()函数
    return function whenReady(fn) {
        if(ready) { fn.call(document); }
        else { funcs.push(fn); }
    }
})();


   
        var article_load = function(){
            id = getUrlIndex()
            get_content(id)
        }
        var getUrlIndex = function(){
            var url = encodeURI(window.location.href)
            url = url.substring(url.indexOf('article')+8)
            return url
        }
        var get_content = function(id){
            var url = '/api/article/' + id
            var request = new XMLHttpRequest()
            request.onreadystatechange = function(){
                if(request.readyState == XMLHttpRequest.DONE){
                    if(request.status == 200){
                        var data = JSON.parse(request.responseText)
                        /*使用showdownjs转换markdown为html*/
                        data = data['data']
                        var post = document.getElementById('article')
                        text = data['content'] 
                        marked.setOptions({
                            highlight: function(code){
                                return hljs.highlightAuto(code).value
                            }
                        })
                        post.innerHTML = marked(text)

                        var info = document.getElementById('article-info')
                        var time = document.createElement('span')
                        var category = document.createElement('span')
                        var tag = document.createElement('span')
                        var num_of_view = document.createElement('span')

                        time.innerHTML = data['info']['public_time'] + '/' + data['info']['update_time']
                        num_of_view.innerHTML = '访问量: ' + data['info']['num_of_view']
                        category.innerHTML = '<a href="' + '/category/' + data['info']['category'] +  '">' + data['info']['category'] +'</a>'
                        var tag_len = data['info']['tag'].length
                        for(var i=0;i<tag_len;i++){
                            if(i != tag_len-1){
                                tag.innerHTML = tag.innerHTML + '<a href="' + '/tag/' + data['info']['tag'][i] + '">' + data['info']['tag'][i] + '</a>,'
                            }else{
                                tag.innerHTML = tag.innerHTML + '<a href="' + '/tag/' + data['info']['tag'][i] + '">' + data['info']['tag'][i] + '</a>'
                            }
                        }
                        info.appendChild(time)
                        info.appendChild(category)
                        info.appendChild(tag)
                        info.appendChild(num_of_view)
                    }
                }
            }
            request.open('GET',url,true)
            request.send()
        }
        whenReady(article_load)
    </script>
</html>