<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分类 - Pipapa</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/frog.css') }}">
</head>
<body>
        <!-- 导航栏 -->
        <nav>    
               <ul>
                   <li><a href="/" class="post-title">Home/</a></li>
                   <li><a href="/tag" class="post-title">Tag/</a></li>
                   <li><a href="/category" class="post-title">Category/</a></li>
                   <li><a href="/about" class="post-title">About/</a></li>
               </ul>
           </nav>
           <!-- 文章 -->
           <div class="post" id="post">
           
           </div>
           <!-- 底部 -->
           <footer>
               Powered by <a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a> &copy; 2017 Pipapa
           </footer>
   </body>
       <script>
           window.onload= function(){
                var url = window.location.href
                url = decodeURI(url)
                /*获取标签名字*/
                category = url.substring(url.indexOf('category')+9)
                if(category == ''){
                    load_category()
                }else{
                    var post_list = document.getElementById('post')
                    var title = document.createElement('h4')
                    title.innerHTML = '<a href='+ '/category/' + category +'>当前分类:' + category + '</a>'
                    post_list.appendChild(title)
                    load_article(category)
                }
           }
           /*获取参数*/
           var getUrlParam = function(name){
               var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); 
               var r = window.location.search.substr(1).match(reg);  
               if (r != null) return unescape(r[2]); return null; 
           }
           var getUrlIndex = function(){
               var url = window.location.href
               /*解码*/
               url = decodeURI(url)
               /*获取参数*/
               tag = url.substring(url.lastIndexOf('/')+1)
               return tag
           }
   
           var load_article = function(name){
               var url = '/api/article?category='+name
               var request = new XMLHttpRequest()
               request.onreadystatechange = function(){
                   if(request.readyState == XMLHttpRequest.DONE){
                       if(request.status == 200){
                           data = JSON.parse(request.responseText)
                           /*获取*/
                           if(data['error'] == undefined){
                               var post_list = document.getElementById('post')
                               var article_table = document.createElement('table')
                               var articles = data['data']
                               var num_of_article = articles.length
                               for(var i=0;i<num_of_article;i++){
                                   var tr = document.createElement('tr')
                                   var time = document.createElement('td')
                                   var category = document.createElement('td')
                                   var tags = document.createElement('td')
                                   var title = document.createElement('td')
                                   
                                   time.innerHTML = articles[i].update_time + '/'
                                   category.innerHTML = '(<a href="'+ '/category/' + articles[i].category[0] +'">'+ articles[i].category[0] +'</a>'
                                   for(var j=0;j<articles[i].tag.length;j++){
                                       tags.innerHTML = tags.innerHTML + '<a href="'+ '/tag/' + articles[i].tag[j] +'">'+ articles[i].tag[j] +'</a>'
                                       if(j != articles[i].tag.length - 1){
                                           tags.innerHTML = tags.innerHTML + ','
                                       }else{
                                           tags.innerHTML = tags.innerHTML + ')'
                                       }
                                   }
                                   title.innerHTML = '<a href="'+ articles[i].url +'" class="post-title">'+ articles[i].title +'</a>'
                                   tr.appendChild(time)
                                   tr.appendChild(title)
                                   tr.appendChild(category)
                                   tr.appendChild(tags)
                                   article_table.appendChild(tr)
                                   post_list.appendChild(article_table)
                               } 
                           }else{}
                       }
                   }
               }
               request.open('GET',url,true)
               request.send()
           }
   
           var load_category = function(){
               var url = '/api/category'
               var request = new XMLHttpRequest()
               request.onreadystatechange = function(){
                   if(request.readyState == XMLHttpRequest.DONE){
                       if(request.status == 200){
                           data = JSON.parse(request.responseText)
                           /*获取*/
                           if(data['error'] == undefined){
                               var post_list = document.getElementById('post')
                               categories = data['data']
                               var categories_len = categories.length
                               for(var i=0;i<categories_len;i++){
                                   var category_title = document.createElement('h4')
                                   category_title.innerHTML = '<a href="'+ categories[i].url +'">'+ categories[i].name+'</a>'
                                   post_list.appendChild(category_title)
                               }
                           }else{}
                       }
                   }
               }
               request.open('GET',url,true)
               request.send()
           }
       </script>
   </html>