<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pipapa</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/frog.css') }}">
</head>
<body>
    <!-- 导航栏 -->
    <nav>    
        <ul>
            <li><a href="/" class="post-title">Home/</a></li>
            <li><a href="/tag" class="post-title">Tag/</a></li>
            <li><a href="/category" class="post-title">Category/</a></li>
            <li><a href="/about" class="post-title">About/</a></li>
        </ul>
    </nav>
    <!-- 文章列表 -->
    <div class="post" id="post">
        <table>
           
        </table>
        <!-- 翻页 -->
        <div class="page-bar">
               
        </div>        
    </div>
    <!-- 底部 -->
    <footer>
        Powered by <a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a> © 2017 Pipapa
    </footer>
</body>
<script>
        /*获取参数*/
        var getUrlParam = function(name){
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); 
            var r = window.location.search.substr(1).match(reg);  
            if (r != null) return unescape(r[2]); return null; 
        }
        window.onload = function(){
            load_article()
        }
        var load_article = function(){
            page = getUrlParam('page')
            var url = '/api/article?pre_page=10&page=' + page
            var request = new XMLHttpRequest()
            request.onreadystatechange = function(){
                if(request.readyState == XMLHttpRequest.DONE){
                    if(request.status == 200){
                        var data = JSON.parse(request.responseText)
                        if(data['error'] == undefined){
                            /*成功获取*/
                            var post_list = document.getElementById('post')
                            /*文章*/
                            var article_table = document.createElement('table')
                            var articles = data['data']
                            var num_of_article = articles.length
                            for(var i=0;i<num_of_article;i++){
                                var tr = document.createElement('tr')
                                var time = document.createElement('td')
                                var category = document.createElement('td')
                                var tags = document.createElement('td')
                                var title = document.createElement('td')
                                
                                time.innerHTML = articles[i].update_time + '/'
                                category.innerHTML = '(<a href="'+ '/category/' + articles[i].category[0] +'">'+ articles[i].category[0] +'</a>'
                                for(var j=0;j<articles[i].tag.length;j++){
                                    tags.innerHTML = tags.innerHTML + '<a href="'+ '/tag/' + articles[i].tag[j] +'">'+ articles[i].tag[j] +'</a>'
                                    if(j != articles[i].tag.length - 1){
                                        tags.innerHTML = tags.innerHTML + ','
                                    }else{
                                        tags.innerHTML = tags.innerHTML + ')'
                                    }
                                }
                                title.innerHTML = '<a href="'+ articles[i].url +'" class="post-title">'+ articles[i].title +'</a>'
                                tr.appendChild(time)
                                tr.appendChild(title)
                                tr.appendChild(category)
                                tr.appendChild(tags)
                                article_table.appendChild(tr)
                                post.appendChild(article_table)
                            }
                            /*翻页*/
                            var page_bar = document.createElement('div')
                            page_bar.setAttribute('class','page-bar')
                            if(data['has_prev']){
                                var prev = document.createElement('a')
                                prev.setAttribute('href','/article?page='+(parseInt(page)-1))
                                prev.innerHTML = '<'
                                page_bar.appendChild(prev)
                            }
                            var page_num = document.createElement('span')
                            page_num.innerHTML = 'page:' + data['page'] + '/' +data['num_of_page']
                            page_bar.appendChild(page_num)
                            if(data['has_next']){
                                var next = document.createElement('a')
                                next.setAttribute('href','/article?page='+(parseInt(page)+1))
                                next.innerHTML = '>'
                                page_bar.appendChild(next)
                            }
                            post_list.appendChild(page_bar)
                        }else{
                        }
                    }
                }else{
                }
            }
            request.open('GET',url,true)
            request.send()
        }
    </script>
</html>