<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin - Pipapa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <link rel="icon" href="/static/images/favicon.ico">
    <style>
        body > .ui.container{
            margin-top: 3em;
        }
    </style>
    <script>
        
    </script>
</head>
<body>
    <div class="ui container">
        <!-- 导航栏 -->
        <div class="ui pointing menu">
            <a class="item" href="/">Home</a>
            <a class="active item">Admin</a>
        </div>
        <!-- 主体 -->
        <div class="ui segment">
            <div class="ui grid">
                <!-- 控制板 -->
                <div class="four wide column">
                    <div class="ui vertical menu">
                        <a href="/admin" class="item">
                            文章管理
                        </a>
                        <a href="/admin/writer" class="active item">
                            发布文章
                        </a>
                        <a href="/admin/users" class="item">
                            用户管理
                        </a>
                    </div>
                    
                </div>
                <!-- 文章编辑 -->
                <div class="twelve wide column">

                    <div class="ui form">

                        <div class="field">
                            <label>Title</label>
                            <input type="text" placeholder="Title" id="title">
                        </div>    
                        <label>Text</label>
                        <textarea rows="20" placeholder="Write Here..." id="text"></textarea>
                        <div class="fields">
                            <div class="six wide field">
                                <label>Category</label>
                                <input type="text" placeholder="Category" id="categories">
                            </div>
                            
                            <div class="ten wide field">
                                <label>Tags</label>
                                <input type="text" placeholder="Tags" id="tags">
                            </div>
                        </div>

                        <div class="ui right floated sumbit button" onclick="submit()">提交</div>
                    </div>
                        
                </div>
            </div> 
        </div>
        <i>由<a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a>强力驱动,<a href="/admin">管理网页</a></i>
    </div>
    
</body>
<script>
    /*获取提交*/
    var submit = function(){
        var title = document.getElementById('title').value
        var text = document.getElementById('text').value
        var categories = document.getElementById('categories').value
        var tags = document.getElementById('tags').value
        var parameter = {}
        parameter['methods'] = 'create'
        var posts = {}
        posts['title'] = title
        posts['text'] = text
        posts['categories'] = categories.split(',')
        posts['tags'] = tags.split(',')
        parameter['items'] = posts
        submit_data('POST','/api/posts',JSON.stringify(parameter))
    }
    /*数据*/
    var submit_data = function(method,url,parameter){
        var request = new XMLHttpRequest()
        request.open(method,url,true)
        request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8')
        request.send(parameter)
    }

</script>
</html>