<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/frog.css') }}">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <style>
        .writer{
            margin: 10px 30px;
        }
        .writer span{
            font-size: 16px;
            color: #85929e;
        }
        .writer button{
            margin: 10px 0px;
        }
    </style>
</head>
<body>
    <!-- 导航栏 -->
    <nav>    
        <ul>
            <li><a href="/" class="post-title">Home/</a></li>
            <li><a href="/tag" class="post-title">Tag/</a></li>
            <li><a href="/category" class="post-title">Category/</a></li>
            <li><a href="/about" class="post-title">About/</a></li>
        </ul>
    </nav>
   
    <!-- 编辑框 -->
    <div class="writer">
        <div id="toolbar_title">
            <span>标题</span>
        </div>
        <div id="title" class="text" style="margin-bottom: 30px;">

        </div>

        <div id="toolbar_editor">
            <span>文本</span>
        </div>
        <div id="editor" class="text" style="height:300px;margin-bottom:30px;">
             
        </div>
        
        <div id="toolbar_category">
            <span>分类</span>
        </div>
        <div id="category" class="text" style="margin-bottom: 30px;">
        
        </div>

        <div id="toolbar_tag">
            <span>标签(多个用','分隔)</span>
        </div>
        <div id="tag" class="text" style="margin-bottom: 30px;">
        
        </div>


        <button onclick="submit()">提交</button>
    </div>
    <!-- 底部 -->
    <footer>
        Powered by <a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a> &copy; 2017 Pipapa
    </footer>
    
</body>
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<script>
    var title = document.getElementById('title')
    var writer = document.getElementById('editor')
    var category = document.getElementById('category')
    var tag = document.getElementById('tag')

    var content_editor = new Quill(writer,{
        theme:'snow',
        modules :{
            toolbar : "#toolbar_editor"
        }
    })
    var title_editor = new Quill(title,{
        theme: 'snow',
        modules : {
            toolbar : '#toolbar_title',
        }
    })

    var category_editor = new Quill(category,{
        theme: 'snow',
        modules :{
            toolbar : '#toolbar_category'
        }
    })

    var tag_editor = new Quill(tag,{
        theme : 'snow',
        modules : {
            toolbar : '#toolbar_tag'
        }
    })

    /*获取数据,去除'/n'*/
    var get_text = function(obj){
        var len = obj.getLength()
        return obj.getText()
    }
    /*POST*/
    var submit = function(){
        /*TODO 判断是否可以POST*/
        var content = {}
        var data = {}
        data['title'] = get_text(title_editor)
        data['content'] = get_text(content_editor)
        data['category'] = get_text(category_editor)
        data['tag'] = get_text(tag_editor).split(',')
        content['data'] = data
        var request = new XMLHttpRequest()
        request.open('POST','/api/article/create',true)
        request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8')
        request.send(JSON.stringify(content))
    }
</script>
</html>