<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin - Pipapa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <link rel="icon" href="/static/images/favicon.ico">
    <style>
        body > .ui.container{
            margin-top: 3em;
        }
    </style>
    <script>
        
    </script>
</head>
<body>
    <div class="ui container">
        <!-- 导航栏 -->
        <div class="ui pointing menu">
            <a href="/" class="item">Home</a>
            <a href="/comments" class="item">Comment</a>
            <a href="/admin" class="active item">Admin</a>
        </div>
        <!-- 主体 -->
        <div class="ui segment">
            <div class="ui grid">
                <!-- 控制板 -->
                <div class="four wide column">
                    <!-- Menu -->
                    <div class="ui vertical menu">
                        <a href="/admin" class="item">文章管理</a>
                        <a href="/admin/writer" class="item">文章编辑</a>
                        <a href="/admin/comment" class="item">评论管理</a>
                    </div>                    
                </div>
                <!-- 文章编辑 -->
                <div class="twelve wide column">

                    <div class="ui form">

                            <label>标题</label>
                            <input type="text" placeholder="Title" id="title">

                        <label>简介</label>
                        <textarea id="description" rows="2" placeholder="简介..."></textarea>
                        
                        <label>Text</label>
                        <textarea rows="20" placeholder="Write Here..." id="text"></textarea>

                        <div class="fields">
                            <div class="six wide field">
                                <label>Category</label>
                                <input type="text" placeholder="Category" id="categories">
                            </div>
                            
                            <div class="ten wide field">
                                <label>Tags</label>
                                <input type="text" placeholder="Tags(用逗号分隔)" id="tags">
                            </div>
                        </div>

                        <div class="ui right floated sumbit button" onclick="submit()">提交</div>
                    </div>
                        
                </div>
            </div> 
        </div>
        <div class="ui content center aligned"><i>由<a href="https://github.com/Pipapa/FrogBlog">FrogBlog</a>强力驱动, <a href="/admin"><i class="settings icon"></i>管理网页</a></i></div>
    </div>
    
</body>
<script>
    /*跳转*/
    var refresh = function(data){
        var data = JSON.parse(data)
        if(data['status'] == 'success'){
            window.location.href = '/'
        }
    }
    /*填写表单*/
    var writer = function(data){
        var data = JSON.parse(data)
        var data = data['items']
        var title = document.getElementById('title')
        var text = document.getElementById('text')
        var categories = document.getElementById('categories')
        var tags = document.getElementById('tags')
        title.value = data['title']
        text.value = data['content']
        categories.value = data['categories'].join(',')
        tags.value = data['tags'].join(',')
    }
    /*获取提交*/
    var submit = function(){
        var method = 'POST'
        var url = encodeURI(location.href)
        var post_id= url.substr(url.indexOf('writer')+7)

        if(post_id == ''){
            method = 'POST'
        }else{
            method = 'PUT'
        }

        var title = document.getElementById('title').value
        var text = document.getElementById('text').value
        var categories = document.getElementById('categories').value
        var tags = document.getElementById('tags').value
        var description = document.getElementById('description').value
        var parameter = {}
        parameter['methods'] = 'create'
        var posts = {}
        posts['title'] = title
        posts['content'] = text
        posts['categories'] = categories?categories.split(','):['未分类']
        posts['tags'] = tags?tags.split(','):['无标签']
        posts['description'] = description
        parameter['items'] = posts
        submit_data(method,'/api/posts/'+post_id,JSON.stringify(parameter),refresh)
    }
    /*数据*/
    var submit_data = function(method,url,parameter,callback){
        var request = new XMLHttpRequest()
        request.onreadystatechange = function(){
            if(request.readyState == XMLHttpRequest.DONE && request.status == 200){
                callback(request.responseText)
            }
        }
        request.open(method,url,true)
        request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8')
        request.send(parameter)
    }
    /*获取数据*/
    var get_data = function(url,callback){
        var request = new XMLHttpRequest()
        request.onreadystatechange = function(){
            if(request.readyState == XMLHttpRequest.DONE && request.status == 200){
                callback(request.responseText)
            }
        }
        request.open('GET',url,true)
        request.send()
    }
    /*获取URL参数,判断post还是put*/
    var get_url = function(){
        var url = encodeURI(location.href)
        var parameter = url.substr(url.indexOf('writer')+7)
        if(parameter == ''){
        }else{
            get_data('/api/posts/' + parameter,writer)
        }
    }
    window.onload = function(){
        get_url()
    }
</script>
</html>